* { padding: 0; margin: 0; }

html {
	background-color: #fff;
}

body {
	font-size: 18px;
	color: #3B3B3B;
	width: 820px;
	margin: auto;
	padding: 32px 64px;
	box-sizing: content-box;
	box-shadow: #999 0 0 10px;
	font-family: sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
}

h1 { font-size: 2rem; margin-bottom: 1em; }
h2 { font-size: 1.5rem; }
h3 { font-size: 1.25rem; }
h4 { font-size: inherit; }

ul, ol {
	margin-left: 1.25rem;
}

p, ul, ol, dl {
	margin-top: 0.625rem;
	margin-bottom: 1rem;
	line-height: 1.5rem;
}

dt { font-weight: bold; }
dd { margin-left: 2.5rem; }

header#page-header {
	margin-bottom: 1.5px;
}

header#page-header h1 {
	margin: 0;
	padding: 0;
	font-size: 2.5em;
	word-break: break-all;
}

header#page-header h1 > a {
	color: #3B3B3B;
	text-decoration: none;
}

header#page-header h1 > a:hover {
	color: #5A5A5A;
}

header#page-header p#short-description {
	padding: 0;
	margin-top: -16px;;
	font-size: 2em;
	line-height: 32px;
}

nav#site-nav {
}

nav#site-nav ul {
	display: table;
	width: 100%;
	margin: 0;
	padding: 0;
	table-layout: fixed;
	text-align: center;
	height: 16px;
}

nav#site-nav li {
	display: table-cell;
	background-color: #fff;
	border: 1px solid #999;
	border-left: none;
	vertical-align: middle;
}

nav#site-nav li:first-child {
	border-left: 1px solid #999;
}

nav#site-nav a {
	display: inline-block;
	width: 100%;
	color: #555;
}

nav#site-nav li:hover a {
	color: #111;
}

nav#site-nav li:active a {
	color: #fff;
}

nav#site-nav li:active {
	background: #999;
}

nav#site-nav ul > li {
	display: table-cell;
}

footer#page-footer {
	width: 100%;
	text-align: center;
	border-top: 1px solid #3B3B3B;
}

div.big-centered {
	margin: auto;
	text-align: center;
}

img.screenshot {
	display: block;
	box-shadow: #999 0 0px 5px -1px;
	margin: auto;
}

.button {
	display: inline-block;
	margin-bottom: 10px;
	padding: 0.5em 1.25em;
	min-width: 320px;
	color: #fff;
	background: #8d3;
	font-size: 1.25em;
	text-decoration: none;
	font-weight: bold;
	vertical-align: middle;
}

.button--small {
	padding: 0.2em 1.2em;
	font-size: 1.0em;
	min-width: 160px;
}

.button--youtube {
	background: #f7503f;
}

.button--mirrativ {
	background: #1fc5be;
}

.button:hover {
	transition: 0.2s all;
	filter: brightness(1.1) hue-rotate(-5deg);
}

