* { padding: 0; margin: 0; }

div {
  padding: 0;
  margin: 0;
}

h1 { margin: 0.67em 0; font-size: 2em; }
h2 { margin: 0.83em 0; font-size: 1.5em; }
h3 { margin: 1.00em 0; font-size: 1.17em; }
h4 { margin: 1.33em 0; font-size: 1em; }
h5 { margin: 1.67em 0; font-size: 0.83em; }

input[type="sumbit"], input[type="button"], button { padding: 1px 6px; }

ul { margin: 1em 0; padding-left: 40px; }

/**************************************************/

body {
  color: #444;
  font-family: sans-serif;
}

.header {
  min-width: 120px;
  margin: 0 auto;
  padding: 10px 40px 60px 40px;
  margin-bottom: -60px;
  box-sizing: border-box;
  background: #f53535;
  color: #fff;
}

.header__title {
  font-weight: bold;
  word-break: break-all;
}

.header__content {
  max-width: 640px;
  min-width: 40vw;
  margin: 0 auto;
}

.main {
  max-width: 640px;
  min-width: 40vw;
  min-height: 100vh;
  margin: 0 auto;
  padding: 10px 40px;
  box-sizing: border-box;
  box-shadow: #444 0 4px 4px;
  background: #fff;
}

ul { margin: 0; padding-left: 0; }
li { list-style: none; }

.setting-section__title {
  font-weight: bold;
  font-size: 1.2em;
}

.channelName {
  display: flex;
  align-items: center;
  height: 3em;
  width: 100%;
  list-style: none;
  border-bottom: 1px solid #eee;
}

.channelName__name {
  max-height: 100%;
  word-break: break-all;
  flex: 1;
  text-overflow: ellipse;
  overflow: hidden;
}

.menu {}

.menu:hover {
  transition: 0.1s all;
  display: flex;
  flex-direction: column;
  padding: 10px 0px;
  width: 100px;
  box-shadow: #222 0 1px 3px;
  background: #fff;
}

.menu:after {
  content: "︙";
  color: #888;
  font-weight: bold;
}

.menu:hover:after {
  content: none;
}

.menu * {
  display: none;
}

.menu__item {
  padding: 5px 10px;
  background: #fff;
  text-align: center;
  cursor: pointer;
  outline: none;
  border: none;
}

*:hover > .menu__item {
  display: block;
  width: 100%;
}

.menu__item:hover {
  background: #e9e9e9;
  transition: 0.1s all;
}

.menu__item:active {
  background: #f9f9f9;
}

.channelName__edit   { width: 50px; }
.channelName__delete { width: 50px; }

.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
}

.modal__content {
  max-width: 640px;
  min-width: 40vw;
  min-height: 3em;
  background-color: #fff;
  padding: 20px 40px;
  box-shadow: #222 0 2px 5px;
  border-color: #fff;
}

.flat-button {
  cursor: pointer;
  display: inline-block;
  border: none;
  margin-bottom: 10px;
  padding: 0.5em 0.8em;
  text-decoration: none;
  vertical-align: middle;
  box-shadow: #555 0 1px 2px;
  font-size: 1em;
  color: #fff;
  background: #f53535; /* background: #11c189; */
  font-weight: normal;
  transition: 0.12s all;
  outline: none;
}

.flat-button:hover {
  transition: 0.22s all;
  filter: brightness(1.1) hue-rotate(-5deg);
}

.flat-button:active {
  box-shadow: #555 0 1px 10px;
}

.flat-button--cancel {
  background: #fff;
  color: #d42525;
}

.flat-button--cancel:hover {
  background: #e8e8e8;
}

.form {
  display: flex;
  flex-direction: column;
}

.label {
}

.input-text {
  height: 2em;
  border: none;
  border-bottom: 1px solid #888;
  outline-color: #ddd;
  padding: 0 0.5em;
  margin: 5px 0;
}

.input-text::focus {
  border-bottom: 1px solid #e99;
}

/* vim: set et ts=2 sw=2 : */
